*{touch-action: manipulation; overflow: hidden;}
img{pointer-events: none; user-select: none;}
button{color: #1f2328; user-select: none;}
#setbut:hover, #closesetbut:hover{filter: brightness(1.25) drop-shadow(0 0 0.001rem #fff);}
#setbg input[type="range"]{position: absolute; left: 23%; width: 55%;}
div.moves button{
    position: absolute;
    width: 24.571%; /*0.429%*/
    height: 48.999%; /*1.001%*/
    font-size: 0.02rem;
    /* border: 0.00125rem solid #1f2328;
    border-radius: 0.005rem; */
}
div.moves button:disabled{visibility: hidden;}
p{
    margin: 0;
    user-select: none;
}
p.wind, p.score{
    position: absolute;
    color: #fff;
    font-size: 0.03rem;
}
div.head{
    background-color: #888;
    position: absolute;
    width: 8.4375%;
    height: 15%;
    border: 0.002rem solid #000;
}
div.head div.shadow{
    position: absolute;
    border-radius: 50%;
    width: 50%;
    height: 50%;
    top: 25%;
    left: 25%;
    background: #fff;
    opacity: 0.5;
    filter: blur(0.0125rem);
    transform: scale(1, 1);
}
div.head img{position: absolute; top: 0; left: 0; width: 100%;}
div.chardis{
    background-color: #888;
    position: absolute;
    width: 15%;
    height: 40%;
    top: 30.5%;
    border: 0.0032rem solid #000;
}
div.chardis img{
    position: absolute;
}
div.chardis input[type=checkbox]{
    position: absolute;
    width: 0.03rem;
    height: 0.03rem;
    left: 0;
    bottom: 0;
    accent-color: #000;
}
div.chardis div.shadow{
    position: absolute;
    border-radius: 50%;
    width: 50%;
    height: 50%;
    top: 25%;
    left: 25%;
    background: #fff;
    opacity: 0.5;
    filter: blur(0.02rem);
    transform: scale(1, 1);
}
div.chardis p.you{
    visibility: hidden;
}
div.chardis:hover{
    border-color: #800000;
}
div.chardis[data-you="1"]{
    border-color: red;
}
div.chardis[data-you="1"]:hover{
    border-color: #df0000;
}
#title[style*="visibility: visible"] div.chardis[data-you="1"] p.you{
    position: absolute;
    font-size: 0.04rem;
    color: red;
    filter: drop-shadow(0 0 0.001rem #fff);
    top: 0;
    left: 0.001rem;
    visibility: visible;
}
div.fixed, div.turned {
    position: fixed;
    background: #016529;
}
@media all and (max-aspect-ratio: 16/9)
{
    div.fixed {
        bottom: calc(50vh - 28.125vw);
        width: 100vw;
        height: 56.25vw;
        /* background-size: 100vw 56.25vw; */
    }
    html{font-size: 100vw;}
}
@media all and (min-aspect-ratio: 16/9)
{
    div.fixed {
        right: calc(50vw - 88.888888888888888888888888888888889vh);
        width: 177.777777777777777777777777777777778vh;
        height: 100vh;
        /* background-size: 177.777777777777777777777777777777778vh 100vh; */
    }
    html{font-size: 177.777777777777777777777777777777778vh;}
}
@media all and (max-aspect-ratio: 9/16)
{
    div.turned {
        right: -38.888888888888888888888888888888889vw;
        bottom: calc(50vh - 50vw);
        width: 177.777777777777777777777777777777778vw;
        height: 100vw;
        /* background-size: 177.777777777777777777777777777777778vw 100vw; */
    }
    /* html{font-size: 177.777777777777777777777777777777778vw;} */
}
@media all and (min-aspect-ratio: 9/16)
{
    div.turned {
        right: calc(50vw - 50vh);
        bottom: 21.875vh;
        width: 100vh;
        height: 56.25vh;
        /* background-size: 100vh 56.25vh; */
    }
    /* html{font-size: 100vh;} */
}
div.turned {
    transform: rotate(90deg); /* Please do not use this. */
}